//
//  Develop.xcconfig
//  QR Scores
//
//  Created by Erick Sanchez on 12/18/18.
//  Copyright © 2018 LinnierGames. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-QR Scores/Pods-QR Scores.development.xcconfig"

BASE_URL=http:\/\/localhost:3000
